* {
    border: none;
    border-radius: 0;
    font-family: PragmataPro, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background-color: #181818;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #38fc38;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    color: #38fc38;
    background-color: #444444;
    border-bottom: 3px solid #38fc38;
}

#workspaces button.urgent {
    color: #000;
    background-color: #38fc38;
}

#mode {
    color: #38fc38;
    background-color: #444444;
    border-bottom: 3px solid #38fc38;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#idle_inhibitor {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    color: #38fc38;
}

#network.disconnected, #network.linked {
    color: #f53c3c;
}

#pulseaudio.muted {
    color: #f1c40f
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}
